<!-- views/layout.mustache -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
  <nav>
    <a href="/">Home</a>
    <a href="/courses">Courses</a>
    {{#user}}
      {{#isOrganiser}}<a href="/organiser/dashboard">Organiser Panel</a>{{/isOrganiser}}
      <span class="welcome">Welcome, {{user.username}}</span>
      <a href="/logout">Logout</a>
    {{/user}}
    {{^user}}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    {{/user}}
  </nav>
</header>


  <main>
    {{{body}}}
  </main>
</body>
</html>
